

{% block styles %}
    <link rel="stylesheet" href="{{url_for('.static', filename='mystyle.css')}}">
<!-- Optional theme -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

{% endblock %}

{% block scripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{url_for('.static', filename='myscripts.js')}}"></script>
{% endblock %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <h2>Github Readme analysis</h2>
    </div>
  </div>
</nav>



	<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <input type="number" oninput="checkNumer()" name="num" id="num" placeholder="Numbers of Readme File to Fetch" class="form-control"/>
            </div>
            <div class="col-sm-4">
                <button type="button" onclick="location.href=window.location.protocol + '//' + window.location.host + '/'+document.getElementById('num').value;" class="btn btn-primary" >Submit</button>
            </div>
        </div>
    </div>


    <div class="container">

  		<br><br>

	    <table border="1" id="t1" class="table">
	    	<tr>
	    		<td>NO.</td>
		      	<td>ID</td>
		      	<td>Project Name</td>
		      	<td>URL</td>
		      	<td>Picture</td>
		      	<td>Heading</td>
		      
	      	</tr>
	    
		{% for i in pros %}
			{% if i.id %}
				<tr>
					<td>{{ i.no }}</td>	
					<td>{{ i.id }}</td>
					<td><a target="_blank" href="https://github.com/{{ i.name }}">{{ i.name }}</a></td>
					<td onclick="showURL({{ i.id }})">{{ i.urlNum }}</td>
					<td>{{ i.pic }}</td>
					<td>{{ i.heading }}</td>
				
					
				</tr>
			{% endif %}	
		{% endfor %}
		</table>
	
		
		<br>
		<table>
			<tr>
				<td>Description</td>
				<td>Number</td>
			</tr>
		{% for i in pros %}
			{% if i.id %}
			{% else %}
				
				{% for j in i %}
					{% autoescape off %}
					<tr>
						{{j}}
					</tr>
					{% endautoescape %}
					<!-- <div id="heading">{{j}}</div> -->
			
				{% endfor %}	
				
			{% endif %}	
		{% endfor %}
		</table>
		<br />
		
		{% for i in pros %}
			{% if i.id %}
				{% if i.urlNum!=None %}
					{% if i.urlNum!=0 %}
						<div id="{{ i.id }}" style="display: none">
							<div>id:&nbsp;{{ i.id }}</div>
							{% for j in i.urlcontents %}
								<div><a href="{{ j }}">{{ j }}</a></div>
								
							{% endfor %}	
							<br />
						</div>	
					{% endif %}
				{% endif %}
			{% endif %}
		{% endfor %}
		<div id="urlcontainer"></div>
    </div>
	</body>


<script type="text/javascript">
	function checkNumer(){
		var a = document.getElementById("num").value;  
		if(a<0){
			document.getElementById("num").value = "";
		}
		if(a.indexOf("-")!=-1){
			document.getElementById("num").value = "";
		}
	}


	function showURL(id){
		var contents = document.getElementById(id).innerHTML;
		document.getElementById('urlcontainer').innerHTML = contents;
	}



</script>


<style>
    h2{
        color: green;
    }
</style>
